<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>aasdfsadfsdafasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>asdfdsafsdafasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>asdfasdfsdaf1sdaf1dsa23fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>sadfdsafsdaf1ds231fds2a31fdsaasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>asdfasdfdsaf7897f5zxcvasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSSiriUsageDescription</key>
	<string>a45sd6f4s6d5a4f65ds4f6ds5a4f65aasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NFCReaderUsageDescription</key>
	<string>asdf4s8daf9sadf5sda4f56sad4fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>asdf12sda3f21sd65af4sda64f6dsa54f6sa5fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSFaceIDUsageDescription</key>
	<string>asdf45sd6af6sda4f5ds6a4f6sda54fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSContactsUsageDescription</key>
	<string>a1df8a9se87sdf78ds8f7sdafasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSCalendarsUsageDescription</key>
	<string>a1s2df1sd56f56sdafsda4f56das4fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSCameraUsageDescription</key>
	<string>asd6f45d6sa4f56sda4f65sd4f6ds5a4f56dsaasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>as1df23sd1afds5af156dsasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>asdfsd5f16asd5f45sda64fd5s6aasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>a7s8df97ds8af7sd8f7sda8f7dsa7f8dsa7f8sd7a8f7ds8afasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>12as3d1f23ds1f231sda23f12sad31f23asd1f231dsa23f1sda23fasdf12sda3f21sd65af4sda64f6dsa54f6sa5f</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
